[Unit]
Description=Frigate NVR
After=network.target

[Service]
ExecStart=/usr/bin/podman-compose -f /frigate/frigate-compose.yaml up
ExecStop=/usr/bin/podman-compose -f /frigate/frigate-compose.yaml down

[Install]
WantedBy=multi-user.target
